body {
    font-family: Montserrat;
}

#m-navbar {
    margin-bottom: 3em;
    border-bottom: 1px #ffffff solid;
    padding-bottom: 1em;
}

#m-page-title {
    position: absolute;
    top: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 11.5em;
    width: 100%;
    font-weight: 400;
    font-size: 2em;
    z-index: 0;
    color: #fff;
}

#m-notes-new-trash a {
    font-style: oblique;
    text-transform: uppercase;
    font-size: larger;
    color: #fff;
    cursor: pointer;
}

#m-notes-new-trash li {
    padding-right: 1.75vw;
    padding-left: 1.75vw;
    margin-top: 10px;
}

#m-notes-new-trash li a:hover {
    color: #ffffff;
    transition: 0.4s;
}

#m-notes-new-trash li a:after {
    content: "";
    position: block;
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    transition: 0.4s;
    bottom: 25%;
}

#m-notes-new-trash li a:after {
    color: #ffffff;
}

#m-notes-new-trash li a:hover:after {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.m-h2 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    text-decoration-color: #fff;
    padding-top: 10px;
}

.m-middle-case {
    background-color: #212529;
    border-radius: 10px;

}

.m-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-list-notes {
    min-height: 200px;
    padding-bottom: 20px;
}


.m-list-notes .form-check-label {
    color: white;
}

.form-check-input:checked+.form-check-label {

    text-decoration: line-through;
    animation-name: m-strike;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes m-strike {
    from {
        color: #fff;
        text-decoration-color: transparent;
    }

    to {
        color: #999;
        text-decoration-color: #999;
    }
}

.m-strike {
    position: relative;
    animation: m-strike 2s linear;
    text-decoration: line-through;
}

.m-strike:checked {
    display: block;
    position: absolute;
    text-decoration: line-through;
    animation-name: m-strike;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.m-trash {
    color: #fff;
}

.m-trash:hover {
    color: red;
    transition: .3s;
}

.m-relative {
    position: relative;
    padding-top: 7px;
}

.m-text-zone {
    font-family: Montserrat;
    background-color: transparent;
    border-style: hidden;
    border-radius: 0;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ffffff;
    font-size: 1rem;
    color: white;
    margin: 0 auto 10px auto;
    width: 80%;
}

.form-control.m-text-zone:focus {
    outline-width: 0;
    border-color: transparent transparent rgb(255, 255, 255);
    box-shadow: none;
    color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.473);
    opacity: 1;
}

input[type=checkbox]:checked {
    background-color: #212529 !important;
    border-color: #000;
    box-shadow: #fff;
}

.form-check-input:focus {
    box-shadow: none;
}

.m-button {
    margin-bottom: 10px;
}

.m-clear {
    text-transform: uppercase;
}

.m-clear:hover {
    color: #000;
}

.m-footer-action {
    margin-bottom: 10px;
}

[v-cloak] {
    display: none;
}