html[data-bs-theme=light] body {
    background-image: url("bgzob-modified.jpg");
}

html[data-bs-theme=light] .navbar {
    background-color: #ffffffa9;
}

html[data-bs-theme=light] .m-middle-case {
    background-color: #ffffffa9;
}

html[data-bs-theme=light] .list-group-item {
    background-color: rgba(0, 81, 255, 0.518);
}

body {
    font-family: Montserrat;
    background-image: url("bgzob.jpg");
    background-position: center;
}

#m-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 18px;
    font-weight: 400;
    font-size: 2em;
    color: #000000;
    z-index: 2;
}

#m-theme-toggler {
    position: absolute;
    top: 18px;
    right: 18px;
}

.navbar {
    background-color: #ff774ead;
}

#m-navbar {
    margin-bottom: 3em;
    border-bottom: 1px #000000 solid;
    padding-bottom: 1em;
}

#m-notes-new-trash a {
    font-style: oblique;
    text-transform: uppercase;
    font-size: larger;
    color: #000000;
    cursor: pointer;
}

#m-notes-new-trash li {
    padding-right: 1.75vw;
    padding-left: 1.75vw;
    margin-top: 10px;
}

#m-notes-new-trash li a:hover {
    color: #000000;
    transition: 0.4s;
}

#m-notes-new-trash li a:after {
    content: "";
    position: block;
    width: 0%;
    height: 1px;
    background-color: #000000;
    display: block;
    transition: 0.4s;
    bottom: 25%;
}

#m-notes-new-trash li a:after {
    color: #000000;
}

#m-notes-new-trash li a:hover:after {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.m-h2 {
    color: #000000;
    text-align: center;
    font-weight: 300;
    text-decoration-color: #000000;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}

.m-reverse {
    float: right;
    margin-top: 10px;
    font-size: larger;
}

.m-middle-case {
    background-color: #ff774ead;
    border-radius: 10px;

}

.m-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-edit {
    border: none;
}

.m-list-notes {
    min-height: 200px;
    padding-bottom: 20px;
}


.m-list-notes .form-check-label {
    color: rgb(0, 0, 0);
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.217);
}

.form-check-input:checked+.form-check-label {

    text-decoration: line-through;
    animation-name: m-strike;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes m-strike {
    from {
        color: #000000;
        text-decoration-color: transparent;
    }

    to {
        color: #7b3d3d;
        text-decoration-color: #7b3d3d;
    }
}

.m-strike {
    position: relative;
    animation: m-strike 2s linear;
    text-decoration: line-through;
}

.m-strike:checked {
    display: block;
    position: absolute;
    text-decoration: line-through;
    animation-name: m-strike;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.m-trash {
    color: #000000;
}

.m-trash:hover {
    color: red;
    transition: .2s;
}

.m-relative {
    position: relative;
    padding-top: 7px;
}

.m-text-zone {
    font-family: Montserrat;
    background-color: transparent;
    border-style: hidden;
    border-radius: 0;
    border: solid 3px transparent;
    border-bottom: dashed 3px #000000;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 0 auto 10px auto;
    width: 80%;
}

.form-control.m-text-zone:focus {
    outline-width: 0;
    border-color: transparent transparent rgb(0, 0, 0);
    box-shadow: none;
    color: rgb(0, 0, 0);
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.489);
    opacity: 1;
}

input[type=checkbox] {
    background-color: rgba(0, 0, 0, 0);
}

input[type=checkbox]:checked {
    background-color: #000000 !important;
    border-color: #ffffff;
    box-shadow: #000000;
}

.form-check-input:focus {
    box-shadow: none;
}

.m-button {
    margin-bottom: 10px;
}

.m-clear {
    text-transform: uppercase;
}

.m-clear:hover {
    color: #ffffff;
}

.m-footer-action {
    margin-bottom: 10px;
}

[v-cloak] {
    display: none;
}